<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<title>Ajout des clients</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/css/marge.css}"/>

</head>
<body>

		<div class="container marges">
	
	<table th:each="a:${liste}" >
		
			<tr >
			<td ><img th:src="@{'/images/' + ${a.img}}"></td>
			<td th:text="${a.description}"></td>
			</tr>
			<tr >
			<td ></td>
			<td th:text="${a.price}"></td>
			</tr>
		
		<tr >
			<td ><input type="submit" class="form-control" value="Ajouter"></td>
			<td ></td>
			</tr>
	</table>
	
	</div>

</body>
</html>