<!--  HEADER  -->
		<div th:replace="includes/header :: header"></div>

		<div class="container marges">
	
	<table th:each="a:${liste}" >
		
			<tr >
			<td ><img src="th:text="${a.img}""></td>
			<td th:text="${a.description}"></td>
			</tr>
			<tr >
			<td ></td>
			<td th:text="${a.price}"></td>
			</tr>
		
		<tr >
			<td ><input type="submit" class="form-control" value="Ajouter"></td>
			<td ></td>
			</tr>
	</table>
	
	</div>

<!--  FOOTER  -->
	<div th:replace="includes/footer :: footer"></div>