<div th:fragment="footer">
	<footer class="footer">
	     <div class="container">
	        <div class="row justify-content-md-center">
	          <div class="col">
	            <h2 class="text-white text-center Nexa-Bold">SUBSCRIBE</h2>
	            <p class="text-white text-center Nexa-Light">sign up with your email address to receive news letters and updates</p>
	            <form>
		            <input  type="email" name="" value="" placeholder="Email Adress">
		            <button class="sign" type="button" name="button">Log In</button><br>
		        </form>
	            <h1 class=" text-center Morva text-white">OrendaJE</h1>
	          </div>
	        </div>
	      </div>
	</footer>
</div>