<div th:fragment="header">
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<title>Ajout des clients</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/css/marge.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>


</head>
<body>
<!-- header -->
<header class="container_fluid header">
	<br>
	<div class="container">
<img th:src="@{'/images/logoo.png'}" width="120px" >
	<nav class="menu">
		<br>
		<a th:href="@{all}">LIST</a>
		<a th:href="@{ajout}">ADD</a>
		<a th:href="@{liste}">EDIT</a>
	</nav>
	</div>	
<br>
</header>

</div>